---
import KBD from "./KBD.astro";
interface Props {
  title: string;
  company: string;
  skills?: string[];
  description: string;
  date: string;
}

const { title, company, description, date, skills } = Astro.props;
---

<div
  class="relative mx-12 pb-16 grid before:absolute before:left-[-28px] before:block before:h-full before:border-l-2 before:border-gray-800 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:gap-y-0 md:space-x-4]"
>
  <div class="relative md:col-span-2">
    <div class="sticky top-16">
      <span class="text-gray-800 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text:md xl:text-xl font-bold text-gray-300">{title}</h3>
      <h4 class="font-semibold inline md:block text:md xl:text-xl text-yellow-200/80">
        {company}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-500 ml-1 md:ml-0">{date}</time>
    </div>
  </div>
  <div
    class="description-container text-sm xl:text-base text-pretty relative flex flex-col gap-2 pb-2 xl:pb-4 text-gray-400 md:col-span-3"
    set:html={description}
  />
  <div class="relative flex flex-wrap gap-2 md:col-span-3 md:col-start-3">
    {skills && skills.map((skill) => <KBD>{skill}</KBD>)}
  </div>
</div>
